.header {
  width: 100%;
  padding: 18px 40px;
  background: rgba(10, 10, 10, 0.6);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #3b82f6; /* azul tech */
}

.nav a {
  margin-left: 26px;
  text-decoration: none;
  font-size: 16px;
  color: #dcdcdc;
  transition: 0.25s ease;
}

.nav a:hover {
  color: #3b82f6;
}
